.bash_history
.cache/
.conda/
.gradle/
.ipython/
.m2/
.node_repl_history
.nuget/
.p2/
.vscode/
.zenmap/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Intel/
IntelGraphicsProfiles/
Music/
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
StudioProjects/
UnityProjects/
Videos/
anaconda3/
eclipse-workspace/
eclipse/
logs/
source/
vmlogs/